# ------------------------------------------------------------------------------
# ZR Library - Whirlpool Hash Package                      zr-whirl/[.gitignore]
# (c) balarabe@protonmail.com                                       License: MIT
# ------------------------------------------------------------------------------

*.bat
*.sh

# end
